@import "../../index.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  height: 250px;
  width: 100vw;
  background-color: $color-bg;
  color: $color-white;
  padding-left: 64px;
  
  &_title {
    font-size: 60px;
    font-weight: bold;
  }

  &_subtitle {
    padding-top: 8px;
    font-size: 30px;
    font-weight: 500;
  }
}

